@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
html,
body {
  height: 100%;
}

.ql-container.ql-snow,
.ql-toolbar.ql-snow {
  border: none !important;
}

.ql-toolbar.ql-snow {
  border-bottom: 1px solid #d1d5db !important;
}

.ql-editor {
  min-height: 250px;
}

.ql-formats {
  margin-right: 0px !important;
  border-right: 0.5px solid black !important;
  padding: 5px 10px !important;
}

.ql-formats:last-child {
  border-right: 0px !important;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@font-face {
  font-family: "avenir";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Avenir-350-Light.otf") format("truetype");
}
@font-face {
  font-family: "avenir";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Avenir-450-Book.otf") format("truetype");
}
@font-face {
  font-family: "avenir";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Avenir-550-Roman.otf") format("truetype");
}
@font-face {
  font-family: "avenir";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Avenir-650-Medium.otf") format("truetype");
}
@font-face {
  font-family: "avenir";
  font-style: normal;
  font-weight: 800;
  src: url("/fonts/Avenir-850-Heavy.otf") format("truetype");
}
@font-face {
  font-family: "avenir";
  font-style: normal;
  font-weight: 900;
  src: url("/fonts/Avenir-950-Black.otf") format("truetype");
}
@font-face {
  font-family: "avenir";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/Avenir-450-Oblique.otf") format("truetype");
}
@font-face {
  font-family: "avenir";
  font-style: italic;
  font-weight: 500;
  src: url("/fonts/Avenir-550-Oblique.otf") format("truetype");
}
@font-face {
  font-family: "avenir";
  font-style: italic;
  font-weight: 600;
  src: url("/fonts/Avenir-650-Oblique.otf") format("truetype");
}
@font-face {
  font-family: "avenir";
  font-style: italic;
  font-weight: 800;
  src: url("/fonts/Avenir-850-Oblique.otf") format("truetype");
}
@font-face {
  font-family: "avenir";
  font-style: italic;
  font-weight: 900;
  src: url("/fonts/Avenir-950-Oblique.otf") format("truetype");
}
@font-face {
  font-family: "revans";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Revans-Medium.ttf") format("truetype");
}
